export DATABASE_NAME=api
export DATABASE_HOST=localhost
export DATABASE_PASSWORD=dbpass
export DATABASE_USER=root
export DATABASE_PORT=5432
export DATABASE_URL="postgresql://$DATABASE_USER:$DATABASE_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$DATABASE_NAME?schema=public"

export REDIS_PORT=6379
export REDIS_HOST=localhost

export ROOT_ID=cleyc7sh9000207l8f7zfcoow
export SECRET_KEY=cleyc8ygq000307l8hgoqhthn
export API_PORT=8000
export MODE=dev

export PIN_CODE=2378